<!DOCTYPE html>
<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
  </head>
  <body>
    <%- include('partials/nav'); %>
    <hr>
    <h1><p>Call us on our number:</p></h1>
    <hr>
    <h2>9134532145</h2>
    <hr>
    <h1><p>Or, email us:</p></h1>
    <hr>
    <h2><p>john@doe.com</p></h2>
    <hr>
  </body>
</html>
